body{ margin: 0;}
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: url(chorizo.jpg);
      height: 100vh;
    }
    .left { background-color: brown;}
    .right { background-color: darkgray;}
