body{ margin: 0;}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.left { background-color: #E8170D;}
.right { background-color: #FDF2DC;}

img{
    max-width: 80%;
    max-height: 80%;
}
.imagenUsuario{
    height: 200px;
    width:200px;
    margin: auto;
    margin-top: 14px;
    resize: none;
    display:flex;
}